@model Escuela

@{
    ViewData["Title"] = "Home Page";
    Layout="Simple";
}

<div class="text-center">
    <h1 class="display-4">Escuela</h1>
    <h2>Nombre : @Model.Nombre </h2>
    <h2>Tipo de Escuela : @Model.TipoEscuela </h2>
    

    <address>
        <p>Direccion : @Model.Dirección</p>
        <p>País : @Model.Pais</p>
        <p>Ciudad . @Model.Ciudad</p>        
    </address>
    <h2>Año de Fundacion : @Model.AñoDeCreación</h2>

    <!--<h3>@ViewBag.CosaDinamica</h3> -->
    <!-- <h3>@ViewData["CosaDinamica"]</h3> -->

</div>
